@import "tailwindcss";

@theme {
  --font-display: "Cinzel", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-syne: "Syne", sans-serif;
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes marquee-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-v {
  animation: marquee-vertical 24s linear infinite;
}

.animate-marquee-h {
  animation: marquee-horizontal 30s linear infinite;
}

.font-display {
  font-family: var(--font-display);
}

.font-syne {
  font-family: var(--font-syne);
}
